# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache


# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env


# vuepress v2.x temp and cache directory
.temp
.cache


# Stores VSCode versions used for testing VSCode extensions
.vscode-test


dist